body {
        font-family: Helvetica, Arial, sans-serif;
        font-size: 200%;
}
h1,h2 {
        color:gray;
        font-weight: lighter;
}
a {
        text-decoration: unset;
}
table {
        width: 100%;
        margin-top: 1em;
        margin-bottom: 1em;
        border-collapse: collapse;
}
th, td {
        text-align: left;
        padding: 0.2em;
}
th {
        background-color: gray;
        color: white;
}
tr:nth-child(odd) {
        background-color: #f1f1f1;
}
footer {
        color:gray;
        font-weight: lighter;
}