body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 135%;
	margin: 0;
	padding: 0;
}
h1 {
	color:gray;
	font-weight: lighter;
}
table {
	margin-top: 1em;
	margin-bottom: 1em;
}
footer {
	color:gray;
	font-weight: lighter;
}
.center {
	margin: auto;
	position: relative;
	width: 40%;
}
