:root {
    --global-foreground: #f1f1f1;
    --global-background: #0f0f0f;
    --accent-color: #d0adf0;
}

@media (prefers-color-scheme: light) {
    :root:not([data-theme="dark"]) {
        --global-background: #f1f1f1;
        --global-foreground: #0f0f0f;
    }
}

:root[data-theme="light"] {
    --global-foreground: #0f0f0f;
    --global-background: #f1f1f1;
}

html {
    background-color: var(--global-background);
    color: var(--global-foreground);
    //transition: all 200ms;
    a {
        color: var(--accent-color);
        text-decoration: none;
    }
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $body-font;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
       -moz-font-feature-settings: "kern" 1;
         -o-font-feature-settings: "kern" 1;
            font-feature-settings: "kern" 1;
    font-kerning: normal;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    strong {
        font-weight: bolder;
    }
}

li {
    list-style: none;
}

li:before {
    content: "#";
    width: 0.75em;
    font-family: $title-font;
    display: inline-block;
}

.topnav {
    top: 0;
    left: 0;
    background-color: var(--global-background);
    position: sticky;
    overflow: hidden;
    width: 100%;
    z-index: 1;
    a {
        text-decoration: none;
        padding: 10px;
        display: block;
        float: left;
        color: var(--global-foreground);
        background-color: var(--global-background);
    }
    a:hover {
        color: var(--global-background);
        background-color: var(--global-foreground);
    }
    a.active {
        font-weight: bold;
    }
}

.centerwrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 95%;
    @extend %clearfix;
}

.container {
    margin-top: $spacing-unit * 0.75;
    padding: 10px;
    display: block;
}

@media screen and (min-width: 768px) {
    html {
        font-size: 22px;
    }
    .container {
        margin-top: $spacing-unit * 1.5;
    }
    .centerwrapper {
        max-width: 85%;
    }
}

@media screen and (min-width: 1100px) {
    html {
        font-size: 24px;
    }
    .container {
        margin-top: $spacing-unit * 1.5;
    }
    .centerwrapper {
        max-width: 924px;
    }
}

.postlist a, h1, h2 {
    color: var(--global-foreground);
    background-color: var(--global-background);
    font-family: $title-font;
    text-decoration: none;
}

.postlist a:hover {
    color: var(--global-background);
    background-color: var(--global-foreground);
}

button {
    all: initial;
    fill: var(--global-foreground);
    cursor: pointer;
}

svg {
    display: inline-block;
    fill: var(--global-foreground);
    padding-right: 5px;
    vertical-align: text-top;
}

.themewrapper {
    float: right;
    padding-top: 5px;
}

.navwrapper {
    float: left;
}

.post-meta {
    font-family: $code-font;
    font-size: $small-font-size;
}

.gridcontainer {
    margin-top: $spacing-unit;
    margin-bottom: $spacing-unit / 2;
    @include display-grid;
    
    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    h1, h2 {
        margin-top: initial;
    }
}

.tagscontainer {
    margin-top: $spacing-unit;
    margin-bottom: $spacing-unit / 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    a {
        text-decoration: none;
    }
    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.borderl {
    border: 1px solid var(--global-foreground);
    border-radius: 3px;
    padding: 1em;
}

.tag-count {
    font-family: $code-font;
    font-size: smaller;
    border-radius: 5px;
    background-color: #808080;
    color: #000000;
    margin-left: 1em;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

.meta-tag:before {
    display: inline-block;
    content: "|";
}