:root {
    --global-foreground: #f1f1f1;
    --global-background: #0f0f0f;
    --accent-color: hsl(226deg, 100%, 50%);
}

@media (prefers-color-scheme: light) {
    :root:not([data-theme="dark"]) {
        --global-background: #f1f1f1;
        --global-foreground: #0f0f0f;
    }
}

:root[data-theme="light"] {
    --global-foreground: #0f0f0f;
    --global-background: #f1f1f1;
}

$spacing-unit:     30px !default;
$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   18px !default; /* 16 */
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;
$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

@mixin relative-font-size($ratio) {
    font-size: $base-font-size * $ratio;
}

html {
    background-color: var(--global-background);
    color: var(--global-foreground);
    transition: all 200ms;
    a {
        color: var(--accent-color);
    }
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
       -moz-font-feature-settings: "kern" 1;
         -o-font-feature-settings: "kern" 1;
            font-feature-settings: "kern" 1;
    font-kerning: normal;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    line-height: 1.8;
}

.topnav {
    top: 0;
    left: 0;
    background-color: var(--global-background);
    position: fixed;
    overflow: hidden;
    width: 100%;
    z-index: 1;
}

.topnav a {
    text-decoration: none;
    padding: 10px;
    display: block;
    float: left;
    color: var(--global-foreground);
    background-color: var(--global-background);
}

.topnav a:hover {
    color: var(--global-background);
    background-color: var(--global-foreground);
}

.centerwrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    @extend %clearfix;
}

.container {
    padding: 10px;
    margin-top: 75px;
    display: block;
}

@media screen and (min-width: 576px) {
    .centerwrapper {
        max-width: 95%;
    }
}

@media screen and (min-width: 768px) {
    .centerwrapper {
        max-width: 85%;
    }
}

@media screen and (min-width: 992px) {
    .centerwrapper {
        max-width: 80%;
    }
}

@media screen and (min-width: 1200px) {
    .centerwrapper {
        max-width: 924px;
    }
}

.postlist a, h2 {
    color: var(--global-foreground);
    background-color: var(--global-background);
    font-weight: normal;
    text-decoration: none;
}

.postlist a:hover {
    color: var(--global-background);
    background-color: var(--global-foreground);
}

button {
    all: initial;
    font-family: inherit;
    font-size: inherit;
    fill: var(--global-foreground);
    cursor: pointer;
}

svg {
    display: inline-block;
    fill: var(--global-foreground);
    padding-right: 5px;
    vertical-align: text-top;
}

.themewrapper {
    float: right;
    padding: 10px;
}

.navwrapper {
    float: left;
}

.post-meta {
    font-family: monospace;
    font-size: $small-font-size;
}


