:root {
    --global-foreground: #f1f1f1;
    --global-background: #0f0f0f;
    --accent-color: #d0adf0;
}

@media (prefers-color-scheme: light) {
    :root:not([data-theme="dark"]) {
        --global-background: #f1f1f1;
        --global-foreground: #0f0f0f;
    }
}

:root[data-theme="light"] {
    --global-foreground: #0f0f0f;
    --global-background: #f1f1f1;
}

html {
    background-color: var(--global-background);
    color: var(--global-foreground);
    transition: all 200ms;
    a {
        color: var(--accent-color);
    }
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
       -moz-font-feature-settings: "kern" 1;
         -o-font-feature-settings: "kern" 1;
            font-feature-settings: "kern" 1;
    font-kerning: normal;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.topnav {
    top: 0;
    left: 0;
    background-color: var(--global-background);
    position: sticky;
    overflow: hidden;
    width: 100%;
    z-index: 1;
}

.topnav a {
    text-decoration: none;
    padding: 10px;
    display: block;
    float: left;
    color: var(--global-foreground);
    background-color: var(--global-background);
}

.topnav a:hover {
    color: var(--global-background);
    background-color: var(--global-foreground);
}

.centerwrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 95%;
    @extend %clearfix;
}

.container {
    padding: 10px;
    margin-top: 75px;
    display: block;
}

@media screen and (min-width: 768px) {
    html {
        font-size: 22px;
    }
    .centerwrapper {
        max-width: 85%;
    }
}

@media screen and (min-width: 1100px) {
    html {
        font-size: 24px;
    }
    .centerwrapper {
        max-width: 924px;
    }
}

.postlist a, h2 {
    color: var(--global-foreground);
    background-color: var(--global-background);
    font-family: SourceSerifPro, sans-serif;
    text-decoration: none;
}

.postlist a:hover {
    color: var(--global-background);
    background-color: var(--global-foreground);
}

button {
    all: initial;
    font-family: inherit;
    font-size: inherit;
    fill: var(--global-foreground);
    cursor: pointer;
}

svg {
    display: inline-block;
    fill: var(--global-foreground);
    padding-right: 5px;
    vertical-align: text-top;
}

.themewrapper {
    float: right;
    padding: 10px;
}

.navwrapper {
    float: left;
}

.post-meta {
    font-family: SourceCodePro, monospace;
    font-size: $small-font-size;
}

.gridcontainer {
    margin-top: 75px;
    @include display-grid;

    @media screen and (min-width: 1100px) {
        grid-template-columns: repeat(2, 1fr);
    
    }
}

.borderl {
    border: 1px solid var(--global-foreground);
    border-radius: 3px;
    padding: 1em;
}
