@charset "utf-8";

$spacing-unit: 2.4rem;
$body-font: 'Source Sans 3', sans-serif;
$title-font: 'Source Serif Pro', 'serif';
$code-font: 'SourceCodePro', 'monospace';
$base-font-size: 17px;
$base-font-weight: 300;
$small-font-size: $base-font-size * 0.85;
$base-line-height: 1.8;


@mixin relative-font-size($ratio) {
    font-size: $base-font-size * $ratio;
}

@mixin display-grid {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 1.5em;
}


/**
* Set `margin-bottom` to maintain vertical rhythm
*/
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

/**
 * Clearfix
 */
 %clearfix:after {
    content: "";
    display: table;
    clear: both;
}
