.search-input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  font-family: $body-font;
  font-weight: $base-font-weight;
  font-size: 1.2rem;
  background-color: var(--global-background);
  color: var(--global-foreground);
  border: 1px solid var(--accent-color);
  border-radius: 3px;
  padding: .3rem;
  width: 100%;
}

.alert-info {
  border-radius: .3rem;
  background: var(--grey-color);
  padding: .3rem .5rem;
  p {
    margin-bottom: initial;
  }
}

.improve {
  border-top: 1px solid var(--accent-color);
}

.footer {
  font-family: $body-font;
  font-size: $small-font-size;
}

@font-face{
  font-family: 'SourceCodePro';
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  src: url('/assets/WOFF2/OTF/SourceCodePro-LightIt.otf.woff2') format('woff2');
  font-display: block;
}

@font-face{
  font-family: 'SourceCodePro';
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  src: url('/assets/WOFF2/OTF/SourceCodePro-It.otf.woff2') format('woff2');
  font-display: block;
}

@font-face{
  font-family: 'SourceCodePro';
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  src: url('/assets/WOFF2/OTF/SourceCodePro-Semibold.otf.woff2') format('woff2');
  font-display: block;
}

@font-face{
  font-family: 'SourceCodePro';
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  src: url('/assets/WOFF2/OTF/SourceCodePro-SemiboldIt.otf.woff2') format('woff2');
  font-display: block;
}

@font-face{
  font-family: 'SourceCodePro';
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  src: url('/assets/WOFF2/OTF/SourceCodePro-BoldIt.otf.woff2') format('woff2');
  font-display: block;
}

@font-face{
  font-family: 'Source Sans 3';
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  src: url('/assets/WOFF2/TTF/SourceSans3-LightIt.ttf.woff2') format('woff2'),
       url('/assets/WOFF/OTF/SourceSans3-LightIt.otf.woff') format('woff');
  font-display: block;
}

@font-face{
  font-family: 'Source Sans 3';
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  src: url('/assets/WOFF2/TTF/SourceSans3-It.ttf.woff2') format('woff2'),
       url('/assets/WOFF/OTF/SourceSans3-It.otf.woff') format('woff');
  font-display: block;
}

@font-face{
  font-family: 'Source Sans 3';
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  src: url('/assets/WOFF2/TTF/SourceSans3-Semibold.ttf.woff2') format('woff2'),
       url('/assets/WOFF/OTF/SourceSans3-Semibold.otf.woff') format('woff');
  font-display: block;
}

@font-face{
  font-family: 'Source Sans 3';
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  src: url('/assets/WOFF2/TTF/SourceSans3-SemiboldIt.ttf.woff2') format('woff2'),
       url('/assets/WOFF/OTF/SourceSans3-SemiboldIt.otf.woff') format('woff');
  font-display: block;
}

@font-face{
  font-family: 'Source Sans 3';
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url('/assets/WOFF2/TTF/SourceSans3-Bold.ttf.woff2') format('woff2'),
       url('/assets/WOFF/OTF/SourceSans3-Bold.otf.woff') format('woff');
  font-display: block;
}


@font-face{
  font-family: 'Source Serif Pro';
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  src: url('/assets/WOFF2/TTF/SourceSerifPro-LightIt.ttf.woff2') format('woff2'),
       url('/assets/WOFF/OTF/SourceSerifPro-LightIt.otf.woff') format('woff');
  font-display: block;
}

@font-face{
  font-family: 'Source Serif Pro';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url('/assets/WOFF2/TTF/SourceSerifPro-Regular.ttf.woff2') format('woff2'),
       url('/assets/WOFF/OTF/SourceSerifPro-Regular.otf.woff') format('woff');
  font-display: block;
}

@font-face{
  font-family: 'Source Serif Pro';
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  src: url('/assets/WOFF2/TTF/SourceSerifPro-It.ttf.woff2') format('woff2'),
       url('/assets/WOFF/OTF/SourceSerifPro-It.otf.woff') format('woff');
  font-display: block;
}

@font-face{
  font-family: 'Source Serif Pro';
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  src: url('/assets/WOFF2/TTF/SourceSerifPro-Semibold.ttf.woff2') format('woff2'),
       url('/assets/WOFF/OTF/SourceSerifPro-Semibold.otf.woff') format('woff');
  font-display: block;
}

@font-face{
  font-family: 'Source Serif Pro';
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  src: url('/assets/WOFF2/TTF/SourceSerifPro-SemiboldIt.ttf.woff2') format('woff2'),
       url('/assets/WOFF/OTF/SourceSerifPro-SemiboldIt.otf.woff') format('woff');
  font-display: block;
}

@font-face{
  font-family: 'Source Serif Pro';
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url('/assets/WOFF2/TTF/SourceSerifPro-Bold.ttf.woff2') format('woff2'),
       url('/assets/WOFF/OTF/SourceSerifPro-Bold.otf.woff') format('woff');
       font-display: block;
}
