.search-input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  font-family: $body-font;
  font-weight: $base-font-weight;
  font-size: 1.25rem;
  background-color: var(--global-background);
  color: var(--global-foreground);
  border: 1px solid var(--accent-color);
  border-radius: 3px;
  padding: .5rem;
  width: 100%;
}
